# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies

# Firebase
functions/node_modules/

# OS
.DS_Store
*.swp

# Env
.env
local.properties

# Android
key.properties
*.keystore
*.jks
android/.gradle/
*.class

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
